BODY{
	background-color: black;
}
#wrapper{
	background-image:url("img/haikei.jpg");
	background-repeat:no-repeat;
        background-size:contain;
        min-height:850px;
}
H1{
	padding-top:50px;
	text-align:center;
	color:#FFFFFF;
	font-family:"‚l‚r ‚o–¾’©","‚l‚r –¾’©";
	font-size:50px;
}
#subtitle{
	font-size:30px;
}
form{
	padding:150px;
	text-align:center;
	color:#FFFFFF;
}
